# .editorconfig
root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_expression_bodied_methods = true:warning
csharp_style_expression_bodied_properties = true:warning
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_prefer_simple_using_statement = true:warning
csharp_prefer_simple_default_expression = true:warning
dotnet_style_readonly_field = true:warning
dotnet_diagnostic.IDE0044.severity = warning

[*.xaml]
indent_size = 2
indent_style = spaces

[*.{yml,yaml}]
indent_size = 2
indent_style = space

[*.md]
trim_trailing_whitespace = false

[*.bat]
end_of_line = crlf
